 <div class="user-details">
  <h1> My Experience </h1>
  <p style="font-size: x-large"> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Web development</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <!-- <i class="devicon-nodejs-plain-wordmark colored"></i> -->
      <i class="devicon-nodejs-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      

      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <div class="tech">
      <h2>Programming language</h2>
      
      <i class="devicon-c-plain"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <!-- <i class="devicon-pandas-plain colored"></i>       -->
      <!-- <i class="devicon-pandas-original"></i> -->
    
          
      
      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <!-- <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div> -->
</div>
