<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="screenshot" src="{{ "/assets/img/fridge.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Community Fridge Web Application </h3>
    <ul>
      <li> REST API, MongoDB, JavaScript</li>
    </ul>
    <p>A web application for keeping records of community fridges. Users can view, pick up, drop off items to fridges as well as edit and add fridges.</p>
    <a class="project-link" href="https://github.com/men9xuan/Community-fridge">View Project</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="screenshot" src="{{ "/assets/img/rrt2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Rapidly-exploring-Random-Tree </h3>
    <ul>
      <!-- <li>C: dynamic memory allocation, struct, pointer</li> -->
    </ul>
    <p>A C program generates a RRT which avoids obsticles from a given environment and traces a path from root to the closest node in the tree to a given (x,y) coordinate.</p>
    <a class="project-link" href="https://github.com/men9xuan/Rapidly-exploring-Random-Tree">View Project</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="screenshot" src="{{ "/assets/img/fair.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Fair simulator </h3>
    <ul>
      <!-- <li>C: threads, tcp server and client communication</li> -->
    </ul>
    <p>A C application simulates a Fair that allows Guests to go onto Rides in the Fair. This program utilizes threads to handle incoming requests and TCP protocal for Guest and Fair communication.</p>
    <a class="project-link" href="https://github.com/men9xuan/Fair-simulator">View Project</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="screenshot" src="{{ "/assets/img/machinelearn.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> COVID-19 trends prediction with machine learning and deep learning classification</h3>
    <ul>
      <li>Python, Pandas, NumPy</li>
    </ul>
    <p>Predict three binary labels describing COVID-19 trends in Jan 2021 in US States</br>Classification using Naive Bayes, decision tree and Deep Neural Network</p>
    <a class="project-link" href="https://github.com/men9xuan/ECE-657A-Data-Knowledge-Modelling-Analysis-Spring2021">View Project</a>
    
  </div>
</div>

<div class="user-projects">
  <a class="project-link" href="https://github.com/men9xuan?tab=repositories">All projects</a>
</div>